<FlexboxLayout class="page" style="background: #f8ffff">
    <StackLayout class="form">
        <Image class="logo" src="~/app/images/logo.png" *ngIf="isLoggingIn"></Image>
        <Label class="header" text="Sandubas" *ngIf="isLoggingIn"></Label>

        <PreviousNextView [height]="isLoggingIn ? 150 : 300">
            <ScrollView orientation="vertical">
            <GridLayout rows="auto, auto, auto, auto, auto, auto">
                <!-- Login -->
                <StackLayout row="0" class="input-field">
                    <TextField class="input" hint="Login" [isEnabled]="!processing"
                        autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.login"
                        returnKeyType="next" (returnPress)="focusPassword()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <!-- Senha -->
                <StackLayout row="1" class="input-field">
                    <TextField #password class="input" [isEnabled]="!processing"
                        hint="Senha" secure="true" [(ngModel)]="user.senha"
                        [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                        (returnPress)="focusConfirmPassword()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <!-- Confirmar Senha -->
                <StackLayout row="2" *ngIf="!isLoggingIn" class="input-field">
                    <TextField #confirmPassword class="input" [isEnabled]="!processing"
                        hint="Confirme a Senha" secure="true" [(ngModel)]="user.confirmPassword"
                        [returnKeyType]="isLoggingIn ? 'done' : 'next'" 
                        (returnPress)="focusNome()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <!-- Nome -->
                <StackLayout row="3" *ngIf="!isLoggingIn" class="input-field">
                    <TextField #nome class="input" [isEnabled]="!processing"
                        hint="Nome" secure="false" [(ngModel)]="user.nome"
                        [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                        (returnPress)="focusEmail()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <!-- E-mail -->
                <StackLayout row="4" *ngIf="!isLoggingIn" class="input-field">
                    <TextField #email class="input" [isEnabled]="!processing"
                        keyboardType="email" 
                        hint="E-mail" secure="false" [(ngModel)]="user.email"
                        [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                        (returnPress)="focusCpf()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <!-- CPF -->
                <StackLayout row="5" *ngIf="!isLoggingIn" class="input-field">
                    <TextField #cpf class="input" [isEnabled]="!processing"
                        hint="CPF" secure="false" [(ngModel)]="user.cpf"
                        returnKeyType="done"
                        mask="999.999.999-99"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <ActivityIndicator rowSpan="6" [busy]="processing"></ActivityIndicator>
            </GridLayout>
            </ScrollView>
        </PreviousNextView>

        <Button [text]="isLoggingIn ? 'Login' : 'Cadastrar-se'" [isEnabled]="!processing"
            (tap)="submit()" class="btn btn-primary m-t-20"></Button>
        <Label *ngIf="isLoggingIn" text="Esqueceu sua senha?" class="login-label"
            (tap)="forgotPassword()"></Label>
    </StackLayout>

    <Label class="login-label sign-up-label" (tap)="toggleForm()">
        <FormattedString>
            <Span [text]="isLoggingIn ? 'Não tem conta? ' : 'Voltar para Login'"></Span>
            <Span [text]="isLoggingIn ? 'Cadastrar-se' : ''" class="bold"></Span>
        </FormattedString>
    </Label>
</FlexboxLayout>