<ScrollView>
    <StackLayout>
        <ListView height="150" [items]="pedido.detalhePedidos">
            <ng-template let-item="item">
                    <Label [text]="item.mercadoria.descricao"></Label>
            </ng-template>
        </ListView>
    </StackLayout>
</ScrollView>


<!-- <GridLayout width="100%" row="1"> -->
    <!-- <ListView #listView [items]="pedido.detalhesPedidos">
        <ng-template let-item="item"> -->
              <!-- <Label [text]="item.mercadoria.tipoProduto.nome"></Label> -->
              <!-- <Label [text]="item.id"></Label>
              <Label text="item.mercadoria.tipoProduto.nome"></Label>
        </ng-template>

    </ListView>
    <Label text="item.mercadoria.tipoProduto.nome"></Label> -->

<!-- </GridLayout> -->


<!-- <Button [text]="buttonText" class="btn btn-primary btn-active" (tap)="enableTextView()"></Button>
<Button text="Show text" class="btn btn-outline btn-active" (tap)="showText()"></Button>
<StackLayout class="input-field">
    <Label text="Enter text:" class="label"></Label>
    <TextView [(ngModel)]="tvtext" hint="Enter some text" [editable]="editState"
        class="input input-border"></TextView>
</StackLayout> -->
