<Button text="Aeeeeeeeeeheruhruehruehriu" class="btn btn-primary"></Button>
<StackLayout width="100%" class="sidedrawer-left">
    <StackLayout class="left details">
        <StackLayout orientation="horizontal" horizontalAlignment="center">
            <Label text="Welcome" class="title text-center m-r-5"></Label>
            <Image src="~/assets/happy.png" class="happy"></Image>
        </StackLayout>
        <Label text="Easy bill split with your friends" class="sub-title text-left m-t-20"></Label>
        <Label text="Easy bill split with your friends" class="sub-title text-left m-t-20"></Label>
        <Label text="Easy bill split with your friends" class="sub-title text-left m-t-20"></Label>
        <Label text="Easy bill split with your friends" class="sub-title text-left m-t-20"></Label>
        <GridLayout class="btn-container">
            <Image [class.fade-out]="!opening" src="~/assets/plus.png"></Image>
        </GridLayout>
    </StackLayout>

    <ScrollView backgroundColor="#e8e7e7">
        <FlexboxLayout flexDirection="column" class="owe-list"
            backgroundColor="#e8e7e7">
            <StackLayout id="item1" orientation="vertical" class="owe-list-item"
                width="100%" (tap)="onNavigate()">
                <GridLayout columns="auto, *, auto" rows="auto"
                    width="100%" height="auto" class="owe-main-info"
                    verticalAlignment="top">
                    <Image row="0" col="0" src="~/Assets/food-and-beverage-category.png"
                        class="owe-category-icon"></Image>
                    <StackLayout row="0" col="1" orientation="vertical"
                        class="owe-info-container">
                        <Label class="owe-title" text="Brunch at McDonut"></Label>
                        <GridLayout columns="auto,auto,auto,auto"
                            rows="auto" width="100%">
                            <Label text="You owe " row="0" col="0"></Label>
                            <Label text="Brian" class="lender-name"
                                row="0" col="1"></Label>
                            <Label text=" : " row="0" col="2"></Label>
                            <Label text="Rp 39.000" class="owe-ammount"
                                row="0" col="3"></Label>
                        </GridLayout>
                    </StackLayout>
                    <Label verticalAlignment="top" row="0" col="2"
                        text="Rp 177.000" class="pay-amount"></Label>
                </GridLayout>
                <GridLayout columns="auto, *, auto" rows="auto"
                    width="100%" height="auto" class="owe-secondary-info">
                    <Label row="0" col="0" text="Yesterday" class="time-information"></Label>
                    <GridLayout row="0" col="2" columns="auto, auto, auto"
                        rows="auto">
                        <Label row="0" col="0" text="Yura, Brian"
                            class="lender-name"></Label>
                        <Label row="0" col="1" text=" paid for"></Label>
                        <GridLayout row="0" col="2" columns="auto,auto,auto,auto"
                            rows="auto" width="100%" class="debtor-list">
                            <StackLayout row="0" col="0"
                                orientation="vertical" class="debtor-list-item">
                                <Image src="~/Assets/brian.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                            <StackLayout row="0" col="1"
                                orientation="vertical" class="debtor-list-item">
                                <Image src="~/Assets/yura.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                            <StackLayout row="0" col="2"
                                orientation="vertical" class="debtor-list-item">
                                <Image src="~/Assets/me.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                            <StackLayout row="0" col="3"
                                orientation="vertical" class="debtor-list-item">
                                <Image src="~/Assets/ashley.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <Label class="divider" text=""></Label>
            </StackLayout>
            <StackLayout id="item2" orientation="vertical" class="owe-list-item"
                width="100%" (tap)="onNavigate()">
                <GridLayout columns="auto, *, auto" rows="auto"
                    width="100%" height="auto" class="owe-main-info">
                    <Image row="0" col="0" src="~/Assets/travel-category.png"
                        class="owe-category-icon"
                        verticalAlignment="top"></Image>
                    <StackLayout row="0" col="1" orientation="vertical"
                        class="owe-info-container">
                        <Label class="owe-title" text="Hotel 2D1N"></Label>
                        <GridLayout columns="auto,auto,auto" rows="auto"
                            width="100%">
                            <Label text="Brian" row="0" col="0"
                                class="debtor-name"></Label>
                            <Label text=" owes You : " row="0"
                                col="1"></Label>
                            <Label text="Rp 130.000" class="owed-ammount"
                                row="0" col="2"></Label>
                        </GridLayout>
                        <GridLayout columns="auto,auto,auto" rows="auto"
                            width="100%">
                            <Label text="Rick" row="0" col="0"
                                class="debtor-name"></Label>
                            <Label text=" owes You : " row="0"
                                col="1"></Label>
                            <Label text="Rp 130.000" class="owed-ammount"
                                row="0" col="2"></Label>
                        </GridLayout>
                    </StackLayout>
                    <Label verticalAlignment="top" row="0" col="2"
                        text="Rp 390.000" class="pay-amount"></Label>
                </GridLayout>
                <GridLayout columns="auto, *, auto" rows="auto"
                    width="100%" height="auto" class="owe-secondary-info">
                    <Label row="0" col="0" text="23 Oct" class="time-information"></Label>
                    <GridLayout row="0" col="2" columns="auto, auto"
                        rows="auto">
                        <Label row="0" col="0" text="You paid for "></Label>
                        <GridLayout row="0" col="1" columns="auto,auto,auto"
                            rows="auto" width="100%" class="debtor-list">
                            <StackLayout row="0" col="0"
                                orientation="vertical" class="debtor-list-item">
                                <Image src="~/Assets/brian.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                            <StackLayout row="0" col="1"
                                orientation="vertical" class="debtor-list-item">
                                <Image src="~/Assets/rick.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                            <StackLayout row="0" col="2"
                                orientation="vertical" class="debtor-list-item">
                                <Image src="~/Assets/me.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <Label class="divider" text=""></Label>
            </StackLayout>
            <StackLayout id="item3" orientation="vertical" class="owe-list-item"
                width="100%" (tap)="onNavigate()">
                <GridLayout columns="auto, *, auto" rows="auto"
                    width="100%" height="auto" class="owe-main-info">
                    <Image row="0" col="0" src="~/Assets/transportation-category.png"
                        class="owe-category-icon"
                        verticalAlignment="top"></Image>
                    <StackLayout row="0" col="1" orientation="vertical"
                        class="owe-info-container">
                        <Label class="owe-title" text="Taxi to Airport"></Label>
                        <GridLayout columns="auto,auto" rows="auto"
                            width="100%">
                            <Label text="All settle up" row="0"
                                col="0"></Label>
                            <Image row="0" col="1" src="~/Assets/settle-up-icon.png"
                                class="settle-up-icon"></Image>
                        </GridLayout>
                    </StackLayout>
                    <Label verticalAlignment="top" row="0" col="2"
                        text="Rp 124.000" class="pay-amount"></Label>
                </GridLayout>
                <GridLayout columns="auto, *, auto" rows="auto"
                    width="100%" height="auto" class="owe-secondary-info">
                    <Label row="0" col="0" text="" class="time-information"></Label>
                    <GridLayout row="0" col="2" columns="auto, auto, auto"
                        rows="auto">
                        <Label row="0" col="0" text="Yura" class="lender-name"></Label>
                        <Label row="0" col="1" text=" paid for "></Label>
                        <GridLayout row="0" col="2" columns="auto,auto"
                            rows="auto" width="100%" class="debtor-list">
                            <StackLayout row="0" col="0"
                                orientation="vertical" class="debtor-list-item">
                                <Image row="0" col="0" src="~/Assets/yura.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                            <StackLayout row="0" col="1"
                                orientation="vertical" class="debtor-list-item">
                                <Image row="0" col="0" src="~/Assets/me.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <Label class="divider" text=""></Label>
            </StackLayout>
            <StackLayout id="item4" orientation="vertical" class="owe-list-item"
                width="100%" (tap)="onNavigate()">
                <GridLayout columns="auto, *, auto" rows="auto"
                    width="100%" height="auto" class="owe-main-info">
                    <Image row="0" col="0" src="~/Assets/food-and-beverage-category.png"
                        class="owe-category-icon"
                        verticalAlignment="top"></Image>
                    <StackLayout row="0" col="1" orientation="vertical"
                        class="owe-info-container">
                        <Label class="owe-title" text="Coffee Break"></Label>
                        <GridLayout columns="auto,auto,auto,auto"
                            rows="auto" width="100%">
                            <Label text="You owe " row="0" col="0"></Label>
                            <Label text="Yura" class="lender-name"
                                row="0" col="1"></Label>
                            <Label text=" : " row="0" col="2"></Label>
                            <Label text="Rp 23.230" class="owe-ammount"
                                row="0" col="3"></Label>
                        </GridLayout>
                    </StackLayout>
                    <Label verticalAlignment="top" row="0" col="2"
                        text="Rp 54.540" class="pay-amount"></Label>
                </GridLayout>
                <GridLayout columns="auto, *, auto" rows="auto"
                    width="100%" height="auto" class="owe-secondary-info">
                    <Label row="0" col="0" text="23 Oct" class="time-information"></Label>
                    <GridLayout row="0" col="2" columns="auto, auto, auto"
                        rows="auto">
                        <Label row="0" col="0" text="Yura" class="lender-name"></Label>
                        <Label row="0" col="1" text=" paid for "></Label>
                        <GridLayout row="0" col="2" columns="auto,auto"
                            rows="auto" width="100%" class="debtor-list">
                            <StackLayout row="0" col="0"
                                orientation="vertical" class="debtor-list-item">
                                <Image row="0" col="0" src="~/Assets/me.png"
                                    class="debtor-list-item-image"></Image>
                            </StackLayout>
                            <StackLayout row="0" col="1"
                                orientation="vertical" class="debtor-list-item">
                           </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <Label class="divider" text=""></Label>
            </StackLayout>
        </FlexboxLayout>
    </ScrollView>

    <GridLayout width="100%" columns="auto, *, auto" rows="auto"
    width="100%" height="auto" class="owe-secondary-info">
    <Label row="0" col="0" text="23 Oct" class="time-information"></Label>
    <GridLayout row="0" col="2" columns="auto, auto, auto"
        rows="auto">
        <Label row="0" col="0" text="Yura" class="lender-name"></Label>
        <Label row="0" col="1" text=" paid for "></Label>
        <GridLayout row="0" col="2" columns="auto,auto"
            rows="auto" width="100%" class="debtor-list">
        </GridLayout>
    </GridLayout>
</GridLayout>
</StackLayout>
